@font-face {
    font-family: deathstar;
    src: url("Starjedi.ttf") format("opentype");
    letter-spacing: 1em;
}

* {
    padding: 0;
    margin: 0;
    font-family: deathstar;
  }
  
  body {
    text-align: center;
    font-family: 'sans-serif';
    background-color: #000000;
  }
  
  h1 {
    /*margin: .5em 0 1em;*/
    color: #FFFFFF;
    font-size: 50px;
}
  
  #grid {
    
    align-self: center;
    margin: 20px auto 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  #grid td {
    /*border: 2px solid #394A59;*/
  }
  #grid .cell {
    border: 2px solid #394A59;
    box-shadow: 0px 0px 5px 0px #556567;
    grid-gap: 10px;
    width: 16px;
    height: 16px;
    padding: 3px;
    /*margin: 50px;*/
  }
  
  @keyframes birth {
    50% {
      box-shadow: 0 0 0 99px green inset;
    }
  }
  
  @keyframes die {
    50% {
      box-shadow: 0 0 0 99px #BC1E22 inset;
    }
  }
  
  #grid input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    /*padding: 12px 20px;*/
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  
  #grid input[type="checkbox"]:checked {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #556567;

    /*box-shadow: 0px 0px 0px 99px #FFFFFF inset;
    animation: birth 500ms;*/
  }

  .actavatable {
    box-shadow: 0px 0px 5px 0px #556567;

      background-color: #BC1E22;

  }
  
  /*
  #grid input[type="checkbox"]:not(:checked) {
    animation: die 500ms;
  }
  */
  
  button, .button {
      display: inline-block;
      align-self: center;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-right: 10px;
    /*padding: .3em .5em;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    /*box-shadow: 0 1px 0 hsla(0,0%,100%,.7) inset, 0 .15em .1em -.1em rgba(0,0,0,.4);
    /*background: linear-gradient(hsla(0,0%,100%, .3), hsla(0,0%,100%, .0)) #527bd8;*/
    border: 2px solid #394A59;
    background-color: #000000;
    border-color: #394A59 ;
    font: deathstar;
    font-size: larger;
    color: #FFFFFF;
    /*outline: none;*/
    cursor: pointer;
  }
  
  button:enable:active,
  .button:active,
  input[type="checkbox"]:checked + label.button {
    background-color: #BC1E22; 
    background-image: none;
    box-shadow: 0 0 0 #BC1E22 inset;
  }
  
  button:disabled {
    color: black;
    background-color: #64696C;
    cursor: not-allowed;
  }
  
  #autoplay {
    position: absolute;
    clip: rect(0,0,0,0);
  }


  #container {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility:hidden;
    display:none;
    /*background-color: #000000;*/
}


.reveal-modal {
    background:#000000; 
    margin: 0 auto;
    width:400px; 
    position:relative; 
    z-index:41;
    top: 50%;
    padding:30px; 
    box-shadow:0 0 100px 10px #BC1E22;
}